.company-div {
  font-family: Helvetica, sans-serif;
  width: 400px;
  position: sticky;
  height: 900px;
  top: 0;
  margin-left: 25px;
}

.about {
  justify-content: space-around;
  min-height: 200px;
  margin-bottom: 20px;
  font-family: Helvetica, sans-serif;
  width: 100%;
  color: white;
  margin-right: 5%;
  box-shadow: 0 0 3px 3px #161616;
}
.about-title {
  font-size: 24px;
  padding-top: 10px;
  margin-left: 10px;
  text-align: center;
  font-weight: bold;
}
.company-description {
  margin-top: 10px;
  padding-right: 9px;
  font-size: 16px;
  margin-left: 13.5px;
  text-wrap: ;
}
.company-detail {
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  min-height: 360px;
}
.detail-section h4 {
  color: white;
  font-size: 17px;
  margin-top: 10px;
  text-align: center;
  margin-bottom: 5px;
}
.detail-section p {
  font-size: 12px;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
}
.detail-section {
  color: white;
  width: 400px;
  box-shadow: 0 0 3px 3px #161616;
  margin-top: 1px;
}
