#newstitle {
  font-family: "DIN Pro", -apple-system, BlinkMacSystemFont, sans-serif;
  color: white;
  margin-left: 30px;
  font-size: 30px;
}

.front-news {
  margin-right: 50px;
  width: 650px;
  
}
.headline {
  flex-wrap: wrap;
  max-width: 400px;
  margin-left: 10px;
  margin-top: 0;
}
.source-div {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
  display: flex-end;
  margin-bottom: 5px;
}
.news-desc {
  font-size: 14px;
  max-width: 300px;
  margin-top: 35px;
}
.news-info {
  margin-left: 0;
  margin-right: 10px;
  text-align: right;
  min-width: 250px;
}
.publish-date {
  font-size: 14px;
  margin-top: 80px;
  max-width: 250px;
  text-align: right;
}

.render-news {
  display: flex;
  margin-top: 15px;
  margin-right: 0px;
  font-family: Helvetica, sans-serif;
  box-shadow: 0 0 3px 3px #161616;
  width: 100%;
  height: 180px;
  color: white;
}
.render-news:hover {
  box-shadow: 0 0 5px 5px #0d0d0d;
  background-color: #212121;
}

.image-div {
  align-self: flex-start;
}

.render-news img {
  width: 180px;
  height: 180px;
}

a {
  width: 850px;
}

.frontPage:hover {
  box-shadow: 0 0 6px 6px #0d0d0d;
  background-color: #212121;
}

@media only screen and (min-width: 305px) and (max-width: 1105px) {
  #newstitle {
    margin: 0 auto;
    transform: translateX(5%);
    width: 300px;
    font-size: 30px;
  }

  .front-news {
    margin-right: 0;
    width: 80%;
  }
  .frontNews {
    margin: 0;
    width: 96vw;
  }
  .headline {
    font-size: .8em;
    flex-wrap: wrap;
    max-width: 80%;
    margin-left: 5px;
    margin-top: 0;
    height: 20px;
  }
  .source-div {
    margin-top: 5%;
    font-size: 16px;
    font-weight: bold;
    display: flex-end;
    width: 90%;
    margin-bottom: 5px;
  }
  .news-desc {
    display: inline-block;
    font-size: 12px;
    max-width: 31vw;
    margin-top: 25px;
    margin-right: 0;
  }
  .news-info {
    position: absolute;
    right: 10px;
    margin-right: 3px;
    text-align: right;
    min-width: 80px;
  }
  .publish-date {
    font-size: .7em;
    margin-top: 70%;
    margin-right: 0%;
    text-align: right;
  }

  .render-news {
    display: flex;
    position: relative;
    margin-top: 15px;
    margin-right: auto;
    margin-left: 0;
    width: 96vw;
    height: 180px;
    color: white;
  }

  .image-div {
    align-self: flex-start;
  }

  .render-news img {
    margin-right: 5px;
    width: 35%;
    height: 100%;
  }

  a {
    width: 100%;
  }
}

@media only screen and (min-width: 906px) and (max-width: 1105px) {
  .headline {
    margin-left: 10px;
  }
  .source-div {
    font-size: 18px;
  }
  .news-desc {
    display: inline-block;
    font-size: 16px;
    margin-top: 45px;
    margin-right: 0;
  }
  .news-info {
  }
  .publish-date {
    font-size: 16px;
  }

  .render-news {
    height: 200px;
  }

  .image-div {
    align-self: flex-start;
  }

  .render-news img {
    width: 20%;
    height: 100%;
  }
}

@media screen and (min-width: 1105px) and (max-width: 1245px) {
  .frontNews {
    width: 53%;
  }
}
