.ticker__item {
  display: inline-block;
  padding: 0 28px;
  font-size: 14px;
  height: 54px;
  width: 350px;
  text-align: center;
  color: white;
}
.sector {
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
}
.price-change {
  display: inline-block;
  margin-left: 14px;
}

.ticker-positive-change {
  outline: none;
  text-shadow: 0 0 3px 4px white;
  font-weight: bold;
  margin-right: 24px;
  margin-bottom: 2rem;
  width: 80px;
  opacity: 0.86;
  color: rgb(33, 206, 153);
}
.ticker-negative-change {
  outline: none;
  color: #fe456a;
  opacity: 0.86;
  border-radius: 3px;
  margin-right: 24px;
  width: 80px;
  font-weight: bold;
  text-shadow: 0 0 1px 1px #000000;
}
@media screen and (min-width: 305px) and (max-width: 905px) {
  .ticker-negative-change {
    height: 50px;
  }
  .ticker-positive-change {
    height: 50px;
  }
  .sector {
    height: 50px;
  }
  .price-change {
    height: 50px;
  }
  .ticker__item {
    max-width: 400px;
    height: 80px;
  }
}
