.search-stock-card {
  position: sticky;
  top: 0;
  margin-left: 0;
  width: 95vw;
  text-align: center;
}

.StockContainer {
  margin-top: 15px;
  margin-left: 0;
  width: 600px;
  height: 650px;
  overflow-y: scroll;
  text-align: center;
}
.stock-card {
  /* position: relative; */
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  /* margin-left: 16px; */
  box-shadow: 0 0 1px 2px #090909;
  margin: 7px;
  width: 500px;
  height: 40px;
  color: #e5e5e5;
  font-family: "DIN Pro", -apple-system, BlinkMacSystemFont, sans-serif;
  text-align: left;
  padding-bottom: 8px;
}
.stock-card:hover {
  border-style: outset;
  background-color: #292828;
  border-color: #0d0d0d;
  box-shadow: 0 0 4px 2px #0d0d0d;
  flex: grid;
  border-width: 2px 5px 2px 3px;
}
.symbol {
  font-size: 15px;
  font-weight: bold;
  justify-content: flex-start;
  margin-left: 8px;
  margin-top: 14px;
  width: 30px;
}
.price-div {
  justify-content: center;
  font-size: 15px;
  font-weight: bold;
  margin-left: 15px;
  margin-bottom: 15px;
  width: 75px;
  text-align: left;
}
.positive-change {
  outline: none;
  background-color: #00b300;
  box-shadow: 0 0 1px 1px #008000;
  border-radius: 3px;
  font-weight: bold;
  margin-right: 10px;
  margin-bottom: 32px;
  width: 65px;
  height: 25px;
  opacity: 0.86;
  color: white;
}
.negative-change {
  background-color: #f52c2c;
  outline: none;
  color: white;
  opacity: 0.86;
  border-radius: 3px;
  margin-right: 10px;
  margin-bottom: 32px;
  width: 65px;
  height: 25px;
  font-weight: bold;
  box-shadow: 0 0 1px 1px #ff0000;
}
.search {
  /* margin-left: 8em;
  /* align-items: center; */
}

.form-class {
  position: sticky;
  border-radius: 4px;
  border-color: #171718;
}
.input-div {
  align-items: center;
}
input:hover::-webkit-input-placeholder {
  color: white;
  /* box-shadow: 0 0 3px 3px #13001a; */
}
input:focus {
  outline: none;
}
.input-class {
  width: 300px;
  height: 27px;
  margin-top: 35px;
  background-color: #292828;
  border-style: outset;
  border-color: #171718;
  color: #00ff00;
  font: sans-serif;
  border-radius: 8px;
  font-size: 18px;
  text-align: center;
}
.input-class:hover {
  box-shadow: 0 0 3px 3px #161616;
}

@media screen and (min-width: 305px) and (max-width: 1105px) {
  .search-stock-card {
    margin: 0 auto;
    width: 90vw;
    text-align: center;
  }

  .StockContainer {
    margin-top: 15px;
    margin-left: 0;
    width: 90vw;
    margin: 15px auto;
    height: 70vh;
    overflow-y: scroll;
    text-align: center;
  }
  .stock-card {
    margin: 0 auto;
    width: 90%;
    height: 40px;
  }

  .search {
    width: 90vw;
  }
  .form-class {
    width: 90vw;
  }
  .input-div {
    align-items: center;
    width: 90vw;
  }
  .input-class {
    width: 30%;
    margin: 20px auto;
  }
  input:hover::-webkit-input-placeholder {
  }
  input:focus {
    outline: none;
  }
  .input-class {
  }
}

@media screen and (min-width: 1105px) and (max-width: 1245px) {
  .search-stock-card {
    margin-left: 1%;
    width: 40vw;
  }
  .StockContainer {
    width: 100%;
  }
  .stock-card {
    width: 95%;
  }
  .form-class {
    width: 70%;
    margin: 25px auto;
  }
  .input-div {
    width: 100%;
  }
  .search-div {
    width: 100%;
  }
  .input-class {
    width: 40%;
    margin: 0 auto;
  }
}
