.stock-detail {
  margin: auto;
  max-width: 1700px;
}

.react-stockcharts-tooltip tspan {
  fill: #00ff00;
  font-size: 13.5px;
  font-weight: bold;
  text-shadow: 0 0 4px 2px #bf00ff;
  color: #00ff00 !important;
  stroke: #bf00ff;
  border: bold;
}

.info-div {
  width: 500px;
}
.back {
  font-family: "DIN Pro", -apple-system, BlinkMacSystemFont, sans-serif;
  width: 105px;
  height: 20px;
  background-color: #222222;
  color: #fff;
  box-shadow: 0 0 4px 2px #0d0d0d;
  border: none;
  font-weight: bold;
  margin-left: 0;
  margin-bottom: 5px;
  position: absolute;
  top: 8px;
  right: 0;
  margin-right: 1%;
  /* background-color: #bf00ff;
  border-color: #bf00ff; */
  border-radius: 5px;
  font-size: 11.5px;
}
.back:hover {
  box-shadow: 0 0 4px 2.5px #0d0d0d;
  background-color: #292828;
  font-size: 12.1px;
  /* color: #bf00ff;
  box-shadow: 0 0 4px 2px #bf00ff;
  background: black; */
}
.detail-top {
  margin-left: 5%;
}
.price-rec {
  display: flex;
  margin-bottom: 10px;
  flex-direction: row;
  height: 40px;
}
.price {
  margin-top: 9px;
  font-size: 22px;
  width: 120px;
  color: white;
}
.algo-div {
  margin-left: 8px;
  width: 115px;
  margin-bottom: 10px;
  height: 20px;
  text-align: center;
  font-family: "DIN Pro", -apple-system, BlinkMacSystemFont, sans-serif;
}
.red {
  color: black;
  width: 100%;
  height: 100%;
  background-color: #e60000;
  border-radius: 5px;
  font-weight: bold;
  font-size: 13px;
  border: none;
  margin-left: 0;
}
.red:after {
  content: "High Risk";
  font-size: 13px;
  text-align: center;
  font-weight: bold;
}
.red:hover:after {
  content: "Recommendation";
  font-size: 13px;
  text-align: center;
  font-weight: bold;
}
.yellow {
  background: #a6a6a6;
  width: 100%;
  height: 100%;
  font-size: 13px;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
  margin-left: 0;
}
.yellow:after {
  content: "Neutral";
  font-size: 13px;
  text-align: center;
  font-weight: bold;
}
.yellow:hover:after {
  content: "Recommendation";
  font-size: 13px;
  text-align: center;
  font-weight: bold;
}
.green {
  background-color: #53ff1a;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  font-size: 13px;
  text-align: center;
  font-weight: bold;
}
.green:after {
  content: "Confident Buy";
  font-size: 13px;
  text-align: center;
  font-weight: bold;
}
.green:hover:after {
  content: "Recommendation";
  font-size: 13px;
  text-align: center;
  font-weight: bold;
}

.StockNewsWords {
  margin-top: 10px;
  color: white;
}
.StockNewsWords:hover {
  color: #bf00ff;
  font-weight: bold;
}
.chart-company-div {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  width: 830px;
}
.chartDiv {
  display: inline-block;
  width: 830px;
}
.chartHolder {
}

div.react-stockchart {
  max-width: 830px;
  display: inline-block;
}
.chart-news-info {
  display: flex;
  flex-direction: row;
}
.company-title {
  color: white;
  margin-bottom: 0;
  margin-top: 20px;
}
svg {
  margin: auto;
  width: 100% !important;
}
