.news-div {
  width: 800px;
  height: 100%;
  margin-right: 50px;
}
.StockNewsWords {
  margin: 0 auto;
  width: 235px;
  color: white;

}
.StockNewsWords:hover {
  color: #bf00ff;
  font-weight: bold;
}
.news-div h4 {
  font-size: 20px;
}

.renderNews {
  display: flex;
  margin-top: 15px;
  margin-right: 50px;
  font-family: Helvetica, sans-serif;
  box-shadow: 0 0 3px 3px #161616;
  width: 100%;
  height: 210px;
  color: white;
}
.renderNews:hover {
  box-shadow: 0 0 5px 5px #0d0d0d;
  background-color: #212121;
}

.company-image-div {
  justify-content: flex-start;
  width: 30vw;
  margin-right: 5px;
}

.renderNews img {
  width: 30vw;
  height: 210px;
}
.news-render {
  display: inline-block;
  position: relative;
  margin-right: 50px;
  width: 800px;
}
.headline {
  flex-wrap: wrap;
  max-width: 300px;
  margin-left: 15px;
  margin-top: 0;
}
#published {
  height: 100px;
  width: 350px;
  text-align: right;
  margin-right: 10px;
  margin-top: 80px;
}
@media screen (min-width: 305px) and (max-width: 1105px) {
  .news-div{
    width: 95%;
    margin: 0 auto;
  }

  a {
    width: 95vw;
  }
  .renderNews {
    display: flex;
    margin-left: 0;
    height: 70%;
    color: white;
  }

  .company-image-div {
    width: 30vw;
    height: 100%;
  }
  .renderNews img {
    width: 100%;
    height: 100%;
  }
  .render-news{
    margin-left: 0;
  }
  .news-render {
    display: inline-block;
    position: relative;
    margin-right: 0px;
    width: 95vw;
  }
  .headline h4{
    width: 170px;
  }
  .headline p {
  width: 100px;
  }
  #published {
    height: 100px;
    width: 350px;
    font-size: .8em;
    text-align: right;
    margin-right: 10px;
    margin-top: 80px;
  }
}

@media screen and (min-width: 605px) and (max-width: 1255px) {
  .headline p{
    font-size: 14px;
    width: 200px;
  }
  #published {
    font-size: 1em;
  }
}
@media screen and (min-width: 905px) and (max-width: 1255px) {

  #published {
    font-size: 14px;
  }
}
@media screen and (min-width: 1105px) and (max-width: 1255px) {
  .renderNews {
    width: 55vw;

  }
}
