html,
body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;

  background-color: #212121;
  /* background-image: linear-gradient(to right, #00ff00 , black); */
}
/* // #00ff00
// #bf00ff */
.app {
  display: row;
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
}
#titledate {
  width: 500px;
  margin-left: 50%;
  margin-right: 50%;
}
.theTitle {
  font-family: "DIN Pro", -apple-system, BlinkMacSystemFont, sans-serif;
  text-shadow: 0 1px 0 white, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
  color: transparent;
  background-clip: text;
  font-size: 70px;
  text-align: center;
  font-weight: bold;
  -webkit-background-clip: text;
}
.dateTime {
  /* margin-left: 400px; */
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  margin-bottom: 5%;
}
.thetime {
  height: 50px;
  font-size: 25px;
  margin-bottom: 100px;
  text-align: center;
  margin: 10px;
  color: white;
}
.date {
  font-size: 25px;
  color: white;
  text-align: center;
}
#newstitle {
  font-family: "DIN Pro", -apple-system, BlinkMacSystemFont, sans-serif;
  color: white;
  margin-left: 30px;
  font-size: 32px;
}
.frontNews {
  margin-right: 60px;
  width: 55em;
  /* justify-content: flex-start; */
}

.stocksectornews {
  display: flex;
  width: 100vw;
  align-items: flex-start;
  margin: 0 5% 0 5%;
}
/* .frontPage {
  margin: 0%;
  font-family: Helvetica, sans-serif;
  box-shadow: 0 0 3px 3px #161616;
  width: 40%;
  max-height: 25%;
  min-height: 15em;
  text-align: center;
  color: white;
} */
#search {
  margin-left: 8em;
  /* align-items: center; */
}
svg {
  margin: auto;
  width: 100% !important;
}
#searchnstock {
  position: sticky;
  top: 0;
  margin-left: 1em;
  width: 65em;
  /* align-items: flex-end; */
}
.StockContainer {
  /* align-items: flex-end; */
  margin-top: 1em;
  margin-left: 0em;
  /* left: 55em; */
  width: 37em;
  height: 65em;
  overflow-y: scroll;
  text-align: center;
}
.StockCard {
  /* position: relative; */
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-left: 1em;
  box-shadow: 0 0 1px 2px #090909;
  margin: 0.35em;
  width: 35em;
  height: 2.5em;
  color: #e5e5e5;
  font-family: "DIN Pro", -apple-system, BlinkMacSystemFont, sans-serif;
  text-align: left;
  padding-bottom: 0.5em;
}

.symbol {
  font-size: 16px;
  font-weight: bold;
  justify-content: flex-start;
  margin-left: 0.5em;
  margin-top: 0.85em;
  width: 2em;
}
.priceDiv {
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  margin-left: 1em;
  margin-bottom: 1em;
  width: 5em;
  text-align: left;
}
.positiveChange {
  outline: none;
  background-color: #00b300;
  box-shadow: 0 0 1px 1px #008000;
  border-radius: 3px;
  font-weight: bold;
  margin-right: 1.5em;
  margin-bottom: 2em;
  width: 5em;
  opacity: 0.86;
  color: white;
}
.negativeChange {
  background-color: #f52c2c;
  outline: none;
  color: white;
  opacity: 0.86;
  border-radius: 3px;
  margin-right: 1.5em;
  width: 5em;
  font-weight: bold;
  box-shadow: 0 0 1px 1px #ff0000;
}
.chart-company-div {
  display: flex;
}
.chartDiv {
  display: inline-block;
  margin-left: 70px;
  width: 50%;
}
.chartHolder {
  display: block;
}

.miniChartDiv {
  position: relative;
  align: left;
  /* background: #303030; */
}
.formClass {
  position: sticky;
  border-radius: 4px;
  border-color: #171718;
}
.inputDiv {
  align-items: center;
}
input:hover::-webkit-input-placeholder {
  color: white;
  /* box-shadow: 0 0 3px 3px #13001a; */
}
input:focus {
  outline: none;
}
.inputClass {
  width: 300px;
  height: 27px;
  background-color: #292828;
  border-style: outset;
  border-color: #171718;
  color: #00ff00;
  font: sans-serif;

  border-radius: 8px;
  font-size: 18px;
  text-align: center;
}
.inputClass:hover {
  box-shadow: 0 0 3px 3px #161616;
}
div.react-stockchart {
  max-width: 960px;
  display: inline-block;
}
.companyDiv {
  font-family: Helvetica, sans-serif;
  margin-bottom: 50px;
  width: 400px;
  display: inline-block;
  /* margin-left: 10%; */
}

.companyTitle {
  color: white;
}
.about {
  justify-content: space-around;
  margin-top: 5em;
  min-height: 13em;
  font-family: Helvetica, sans-serif;

  width: 100%;
  color: white;
  margin-right: 5%;
  /* border: 1px solid; */
  box-shadow: 0 0 3px 3px #161616;
}
.aboutWord {
  font-size: 24px;
  padding-top: 1em;
  margin-left: 1em;
  text-align: center;
  font-weight: bold;
}
.companyDescription {
  margin-top: 1em;
  padding-right: 0.5em;
  font-size: 17px;
  margin-left: 1.5em;
  text-wrap: ;
  /* justify-content: space-between; */
}
.CompanyDetail {
  display: flex;
  margin-top: 1.4em;
  flex-wrap: wrap;
  /* align-content: space-between; */
  width: 90%;
  margin: auto;
  min-height: 20em;
  box-shadow: 0 0 3px 3px #161616;
  /* flex-direction: row; */
}
.companDiv h4 {
  color: white;
  margin-top: 1em;
  /* margin-left: 2em; */
}
.companyDiv p {
  font-size: 16px;
  font-weight: bold;
  /* margin-left: 2em; */
  margin-top: 2em;
  /* margin-left: 20%; */
}
.detail-section {
  color: white;
  /* margin-left: 0; */
  width: 12em;
}

.stockPageButton {
  background-image: linear-gradient(#bf00ff, black);
  box-shadow: 0 0 4px 2px #bf00ff;
  border: black;
  font-weight: 500;
  width: 130px;
  color: white;
}
.StockCard:hover {
  border-style: outset;
  background-color: #292828;
  border-color: #0d0d0d;
  box-shadow: 0 0 4px 2px #0d0d0d;
  flex: grid;
  border-width: 2px 5px 2px 3px;
}
news-render {
  display: inline-block;
}
.newsDiv {
  position: absolute;
  width: 55em;
  height: 100%;
  margin-left: 10%;
}
a {
  width: 55em;
}
.renderNews {
  position: relative;
  display: flex;
  margin: 1em;
  font-family: Helvetica, sans-serif;
  box-shadow: 0 0 3px 3px #161616;
  width: 600px;
  height: 13em;
  overflow: hidden;
  /* flex: grid; */
  color: white;
}
.renderNews:hover {
  box-shadow: 0 0 5px 5px #0d0d0d;
  background-color: #212121;
}
.images {
  height: 12.7em;
  margin: 1%;
  width: 15em;
}
.imageDiv {
  align-self: flex-start;
}

.headline {
  flex-wrap: wrap;
  width: 300px;
  margin-left: 15px;
  margin-top: 0;
}

.titleDiv {
  position: right;
  font-size: 17px;
  margin-left: 5%;
}

.sourceDiv {
  margin-left: 5%;
  font-size: 24px;
  font-weight: bold;
  display: flex-end;
  margin-bottom: 5px;
}
.newsInfo {
  margin-left: 0em;
  margin-right: 1em;
  right: 0%;
  min-width: 15em;
}
.publishDate {
  font-size: 16px;
  margin-top: 5em;
  width: 15em;
  text-align: right;
}

.renderNews span {
  font-size: 16px;
  margin-top: 5em;
  width: 15em;
  text-align: right;
}
.renderNews img {
  width: 150px;
  height: 150px;
}
.frontPage {
  /* float: left; */
  display: flex;
  flex-direction: column;
  /* width: 98%; */
}
.frontPage:hover {
  box-shadow: 0 0 6px 6px #0d0d0d;
  background-color: #212121;
}
.renderFront {
  width: 85%;
}
.frontimageDiv {
  display: flex;
}
.imageInfoRow {
  display: flex;
}
.frontimage {
  margin-left: 25em;
  height: 35em;
  width: 45em;
}
.frontheadline {
  flex-wrap: wrap;
  width: 50%;
  margin-right: 5%;
  margin-top: 4%;
}
.frontsourceDiv {
  font-size: 24px;
  margin-left: 10px;
}
.content {
  margin-top: 0px;
  margin-left: 10px;
  font-size: 22px;
  width: 90%;
}
.fronttitleDiv {
  font-size: 27px;
  font-weight: bold;
  text-align: center;
  flex-wrap: wrap;
  margin-bottom: 5%;
}

.frontpublishDate {
  margin-left: 33em;
  width: 10em;
  font-size: 18px;
}

.back {
  width: 8%;
  height: 6%;
  font-weight: bold;
  margin-left: 0.3%;
  margin-bottom: 0.5%;
  background-color: #bf00ff;
  border-color: #bf00ff;
  border-radius: 5px;
}
.back:hover {
  box-shadow: 0 0 4px 2px #bf00ff;
}
.price {
  font-size: 26px;
  color: white;
}
.detailTop {
}

.red {
  color: black;
  width: 8%;
  height: 6%;
  background-color: #e60000;
  border-radius: 5px;
  font-weight: bold;
  font-size: 12px;
  border: none;
  margin-left: 0.3%;
}
.red:focus {
  outline: none;
}
.yellow {
  background: #a6a6a6;
  width: 8%;
  height: 6%;
  border-radius: 5px;
  margin-left: 0.3%;
}
.green {
  background-color: #53ff1a;
  border-radius: 5px;
  width: 8%;
  height: 6%;
  margin-left: 0.3%;
}
.StockNewsWords {
  margin-top: 2em;
  padding-left: 17em;
  margin-left: 10%;
  color: white;
}
.StockNewsWords:hover {
  color: #bf00ff;
  font-weight: bold;
}

.sectorContainer {
  min-width: 100%;
  background-color: #292828;
  height: 4em;
  display: flex;
  box-sizing: border-box;
  align-items: row;
  font-weight: bold;
  color: white;
  margin: 0 auto;
  margin-bottom: 5%;
  overflow: hidden;
}

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
.ticker:hover {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}

.tickerContainer {
  position: relative;
  display: flex;
  bottom: 0;
  width: 10vw;
  overflow: hidden;
  height: 10em;
  background-color: rgba(#000, 0.9);
  padding-left: 100%;
  box-sizing: content-box;
}
.ticker {
  position: absolute;
  display: inline-block;
  height: 4rem;
  line-height: 4rem;
  white-space: nowrap;
  padding-right: 100%;
  margin-right: 5%;
  margin-left: 15em;
  font-family: "DIN Pro", -apple-system, BlinkMacSystemFont, sans-serif;
  box-sizing: content-box;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: ticker;
  animation-name: ticker;
  -webkit-animation-duration: 30s;
  animation-duration: 30s;
}

.ticker__item {
  display: inline-block;
  padding: 0 2rem;
  font-size: 14px;
  height: 4em;
  width: 25em;
  /* margin-left: 3em; */
  text-align: center;
  color: white;
}
.sector {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  /* margin-left: 9em; */
}
.priceChange {
  display: inline-block;
  margin-left: 1em;
}

.tickerPositiveChange {
  outline: none;
  text-shadow: 0 0 3px 4px white;
  font-weight: bold;
  margin-right: 1.5em;
  margin-bottom: 2em;
  width: 5em;
  opacity: 0.86;
  color: #21ce99;
}
.tickerNegativeChange {
  outline: none;
  color: #fe456a;
  opacity: 0.86;
  border-radius: 3px;
  margin-right: 1.5em;
  width: 5em;
  font-weight: bold;
  text-shadow: 0 0 1px 1px #000000;
}
